# Text sentiment analysis

In [1]:
# !pip install -U textblob

In [2]:
from textblob import TextBlob
def stringToSentiment(text):
    return TextBlob(text).sentiment.polarity

In [3]:
 stringToSentiment('i hate you')

-0.8

In [4]:
 stringToSentiment('You get 30% discount')

0.0

In [5]:
import pandas as pd
%matplotlib inline

In [6]:
tweets =  pd.read_csv('so_many_tweets.csv')

In [7]:
tweets.head()

,Text,Date,Status,Retweet
0,RT @j_o_h_n_danger: $TWTR now top holding for ...,2015-05-24 03:46:08,602319644234395648,6.022899e+17
1,RT diggingplatinum RT WWalkerWW: iOS 9 vs. And...,2015-05-24 04:17:42,602327586983796737,NaN
2,RT bosocial RT insidermonkey RT j_o_h_n_danger...,2015-05-24 04:13:22,602326499534966784,NaN
3,RT @WWalkerWW: iOS 9 vs. Android M – The New F...,2015-05-24 04:08:34,602325288740114432,6.023104e+17
4,RT @seeitmarket: Apple Chart Update: Big Test ...,2015-05-24 04:04:42,602324318903771136,6.023215e+17

In [8]:
tweets.shape

(52512, 4)

In [9]:
tweets['sentiment'] = tweets['Text'].apply(stringToSentiment)

In [10]:
tweets.head()

,Text,Date,Status,Retweet,sentiment
0,RT @j_o_h_n_danger: $TWTR now top holding for ...,2015-05-24 03:46:08,602319644234395648,6.022899e+17,0.500000
1,RT diggingplatinum RT WWalkerWW: iOS 9 vs. And...,2015-05-24 04:17:42,602327586983796737,NaN,0.136364
2,RT bosocial RT insidermonkey RT j_o_h_n_danger...,2015-05-24 04:13:22,602326499534966784,NaN,0.500000
3,RT @WWalkerWW: iOS 9 vs. Android M – The New F...,2015-05-24 04:08:34,602325288740114432,6.023104e+17,0.136364
4,RT @seeitmarket: Apple Chart Update: Big Test ...,2015-05-24 04:04:42,602324318903771136,6.023215e+17,0.000000

In [11]:
tweets.index = pd.RangeIndex(start=0, stop=52512, step=1)  
# As a list, we can splice it 
list(tweets.index)[:5]

[0, 1, 2, 3, 4]

In [12]:
# cast the colunm as a datetime
tweets['Date'] = pd.to_datetime(tweets.Date)
tweets['Date'].head()

0   2015-05-24 03:46:08
1   2015-05-24 04:17:42
2   2015-05-24 04:13:22
3   2015-05-24 04:08:34
4   2015-05-24 04:04:42
Name: Date, dtype: datetime64[ns]

In [13]:
tweets.index = tweets.Date
tweets.index

DatetimeIndex(['2015-05-24 03:46:08', '2015-05-24 04:17:42',
               '2015-05-24 04:13:22', '2015-05-24 04:08:34',
               '2015-05-24 04:04:42', '2015-05-24 04:00:01',
               '2015-05-24 03:54:07', '2015-05-24 04:25:29',
               '2015-05-24 04:24:47', '2015-05-24 04:06:42',
               ...
               '2015-05-02 16:30:02', '2015-05-02 16:29:35',
               '2015-05-02 16:28:26', '2015-05-02 16:27:53',
               '2015-05-02 16:27:02', '2015-05-02 16:26:39',
               '2015-05-02 16:25:00', '2015-05-02 16:23:39',
               '2015-05-02 16:23:38', '2015-05-02 16:23:21'],
              dtype='datetime64[ns]', name='Date', length=52512, freq=None)

In [14]:
tweets.head()

,Text,Date,Status,Retweet,sentiment
Date,,,,,
2015-05-24 03:46:08,RT @j_o_h_n_danger: $TWTR now top holding for ...,2015-05-24 03:46:08,602319644234395648,6.022899e+17,0.500000
2015-05-24 04:17:42,RT diggingplatinum RT WWalkerWW: iOS 9 vs. And...,2015-05-24 04:17:42,602327586983796737,NaN,0.136364
2015-05-24 04:13:22,RT bosocial RT insidermonkey RT j_o_h_n_danger...,2015-05-24 04:13:22,602326499534966784,NaN,0.500000
2015-05-24 04:08:34,RT @WWalkerWW: iOS 9 vs. Android M – The New F...,2015-05-24 04:08:34,602325288740114432,6.023104e+17,0.136364
2015-05-24 04:04:42,RT @seeitmarket: Apple Chart Update: Big Test ...,2015-05-24 04:04:42,602324318903771136,6.023215e+17,0.000000

### create a dataframe called daily_tweets which resamples tweets by D, averaging the columns

In [25]:
daily_tweets = tweets[['sentiment']].resample('D',how = 'mean') 
# I only want the sentiment column in my new Dataframe. 
daily_tweets.head()

TypeError: resample() got an unexpected keyword argument 'how'